<div class="table-div">
  <table>
    <thead>
    <tr>
      <th>License Plate</th>
      <th>Status</th>
      <th>Checkout Time</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>

    <% @checkouts.each do |check| %>
        <tr>


          <td><%= check.license %></td>
          <td><%= check.status %></td>
          <td><%= check.created_at %></td>



        </tr>
    <% end %>
    </tbody>
  </table>
</div>
