<div>
  <% if @user.respond_to? :reservedCar %>
    <h1>Reserved Car</h1>
    <%= render 'templates/car_table.html.erb', cars: @user.reservedCar, user: user%>
  <% else %>
      <div>You have not reserved any car yet</div>
  <% end %>

  <% if @user.respond_to? :checkedOutCar %>
      <h1>Checkedout Car</h1>
      <%= render 'templates/car_table.html.erb', cars: @user.checkedOutCar, user: user%>
  <% else %>
      <div>You currently have no checked out cars</div>
  <% end %>

  <% if @user.respond_to? :checkedOutHistory %>
    <h1>Checkedout history</h1>
    <%= render 'templates/car_table.html.erb', cars: @user.checkedOutHistory, user: user%>
  <% else %>
    <div>You have no checked out history</div>
  <% end %>
</div>