<%= form_with(local: true, html: {class: "form-sign"}) do |form| %>

    <h2 class="form-sign-header">Suggest a car</h2>
      <%= form.text_field :manufacturer, id: :suggestion_manufacturer, placeholder: 'Manufacturer', class: 'form-control' %>

      <%= form.text_field :model, id: :car_model, placeholder: 'Model Name', class: 'form-control' %>

      <%= form.submit 'Make suggestion', class: 'btn btn-lg btn-primary btn-block button' %>
<% end %>
