<div>

  <div class="div-link">
    <%= link_to 'Create a Super Admin', new_superadmin_users_path %>
  </div>

  <div class="div-link">
    <%= link_to 'View/Modify any Super Admin', view_superadmin_users_path %>
  </div>

  <%= render 'admin.html.erb', cars: @cars, user: @user%>

</div>