
<p id="notice"><%= notice %></p>

<div class="form-div">
  <div class="div-header">
    <h1>Edit Profile</h1>
    <%= link_to 'Back', dashboard_path %>
  </div>
  <%= render 'templates/edit_profile.html.erb', user_edit: @user_edit %>
</div>
