<div class="form-div">
    <%= link_to 'Home', dashboard_path,  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 10px;' %>
  <%= render 'templates/make_reservation_form.html.erb', users: @users %>
</div>