<div class="form-div">
  <div class="div-header">
    <h3>Enter the Customer's email-id:</h3>
    <%= link_to 'Back', dashboard_path %>
  </div>
  <%= render 'templates/make_reservation_form.html.erb', users: @users %>
</div>