<%= form_with(local: true, html: {class: "form-sign"}) do |form| %>

    <h2 class="form-sign-header">Select user</h2>
    <%= form.select :email_id, options_for_select(@users.map {|user| [ user['email_id'], user['email_id'] ] }), {}, {class: 'form-control'} %>
    <%= form.submit 'Select user', class: 'btn btn-lg btn-primary btn-block button'  %>

<% end %>