<%= form_with(local: true) do |form| %>
    <div class="field">
      <%= form.label :email_id %>
      <%= form.select :email_id, options_for_select(@users.map {|user| [ user['email_id'], user['email_id'] ] }) %>
    </div>

    <div class="actions">
      <%= form.submit 'Select' %>
    </div>
<% end %>