
<% if @suggestion.length == 0 %>
    <div class="message-div">There is no car in the system</div>
<% else %>
    <div class="table-div">
      <table>
        <thead>
        <tr>

          <th>Manufacturer</th>
          <th>Model Number</th>

          <th>Suggested by</th>
        </tr>
        </thead>

        <tbody>
        <% @suggestion.each do |suggest| %>
            <tr>
              <td><%= link_to suggest.manufacturer, {:controller => "cars", :action => "new_suggested", :values => {:manufacturer => suggest.manufacturer, :model => suggest.model}} %></td>

              <td><%= suggest.model %></td>
              <td><%= suggest.suggested_by %></td>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>
<%= link_to 'Back', dashboard_path %>



