<div class="form-div">
    <%= link_to 'Cancel', users_path,  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 25px;'  %>
  </div>
  <%= render 'templates/edit_profile.html.erb', user_edit: @user_edit, password_priviledge: 'no' %>
</div>
