<div class="home-div">
  <h1>Welcome to the Car Rental App</h1>
  <h4>Now rent your car with ease</h4>
  <div class="sign-in">
    <h5>Already a user? <%= link_to 'Login here', login_path %></h5>
  </div>
  <div class="sign-up">
    <h5>Not a user? <%= link_to 'Sign up', sign_up_path %></h5>
  </div>
</div>