<% if notice %>
    <div class="alert alert-danger" id="notice"><%= notice %></div>
<% end %>

<%= link_to 'Home', home_path,  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 10px;' %>
<%= render 'templates/login_form.html.erb', login: @login %>