<div class="form-div">
  <div class="div-header">
    <h3>Enter the Customer's email-id:</h3>
    <%= link_to 'Back', home_path %>
  </div>
  <%= render 'templates/make_reservation_form.html.erb', make_reservation: @make_reservation %>
</div>