body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.footer {
  width: 100%;
  bottom: 0;
  padding: 10px;
  background: #3e7aab !important;
  color: white;
  font-size : 12px;
}

.header {
  position: relative;
  top: 0;
  padding: 10px;
  background: #3e7aab !important;
  color: white;
  font-size : 24px;
  box-shadow: 1px 1px 1px 1px grey;
}

.home-div {
  text-align: center;
}

.form-div, .table-div, .show-div {
  width: fit-content;
  margin: 0px auto;
  padding: 10px;
  position: relative;
}

.form-div form {
  margin: 0 auto;
  width: fit-content;
  padding: 45px;
  padding-bottom: 60px;
  padding-top: 1px;
}

.form-div h1, .show-div h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
}

.form-div form .field, .actions, .show-div p {
  margin-top: 20px;
  display: flex;
  position: relative;
}

.form-div form .field label, .show-div p .span-label {
  display: block;
  width: 100px;
}

.form-div form .field input, .show-div p .span-value {
  height: 20px;
  width: 200px;
  text-align: end;
}

.form-div form .actions input, .show-div .span-button {
  background: brown;
  border: 0;
  color: white;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  right: 0;
}

.show-div .span-button a {
  text-decoration: none;
  color : white;
}

.table-div table td {
  width: 100px;
  text-align: center;
  padding: 5px;
}

.table-div table th {
  adding-bottom: 5px;
  background: burlywood;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.div-header {
  position: relative;
}

.div-header h1 {
  width: fit-content;
}

.div-header a {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px;
  cursor: pointer;
}

.message-div {
  padding : 10px;
  margin : 10px;
  background : #cfd6de;
}

#search-form {
  margin: 0px auto;
  width: fit-content;
}

#search-form input[type="text"] {
   width: 400px;
   height: 20px;
   padding: 10px;
}

#search-form input[type="submit"] {
  width: 100px;
  height: 40px !important;
  margin: 2px;
  border: none;
  background: brown;
  color: white;
  font-size: 18px;
}

.div-link {
  padding: 10px;
  background: wheat;
  margin: 10px;
}

.logout {
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.edit-profile {
  float: right;
  margin-top: -40px;
  margin-right: 80px;
}

.suggest-car {
  float: right;
  margin-top: -40px;
  margin-right: 170px;
}






