<div class="form-div">
  <div class="div-header">
    <%= link_to 'Home', dashboard_path,  class: "btn btn-primary", role: "button", style: 'margin-top: 15px; margin-bottom: 10px;' %>
    <%= render 'form', car: @car %>
  </div>
</div>