<p id="notice"><%= notice %></p>

<% if @user_context %>
    <div class="alert alert-success">
      <span class="span-label"><strong>Booking for:</strong></span>
      <span class="span-value"><%= @user_context['email_id'] %></span>
      <%= link_to 'Abort booking', cancel_reservation_path %>
    </div>
<% end %>

<div class="show-div">
  <%= render 'templates/car.html.erb', car: @car, checkout: @checkout %>
</div>
