<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="pragma" content="no-cache">
    <title>CarRentalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">Car Rental App</div>
    <div style="padding: 40px;padding-top: 5px;">
      <%= yield %>
    </div>
  </body>
</html>
